.forcontenedor{
    margin-top: 2em;
}

.PaginaNew{
    display: flex;
}

.lista{
    color: #242424;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width:768px){
    .PaginaNew{
        flex-direction: column;
    }
}