
.pagina {
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 100%;
    margin-top: 2em;
    padding:1em;
  }

  .pagina_section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .header {
    padding: 0.5rem 0;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .imagenevento{
      padding: 2em;
  }
  .pagina__section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: #F4F4F7;
  }
  
  .pagina__section-info h5 {
    text-align: center;
  }

  .forcontenedor{
    margin-bottom: 5em ;
  }



  .descripciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    color:#242424;
  }
  .parabutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-bottom:2rem ;
  }
  .paraimagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
  }

  .p-large{
    color: #242424;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
    font-weight: bold;
    color: #242424
}

@media screen and (max-width:768px){
  .pagina_section-name{
    flex-direction: column;
  }

}